<div class="col-12 col-sm-12 col-lg-12">
    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header" [ngStyle]="{'text-align': 'left'}">
                  
                    <button type="button" class="btn btn-outline-primary btn-lg btnStyle"
                        [routerLink]="['add']">Ajouter un utilisateur</button>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Identifiant</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="users">
                            <tr *ngFor="let user of listUsers ">  
                                <td>{{user.employeeid}}</td>
                                <td>{{user.employeename}}</td>
                                <td>{{user.email}}</td>                           
                                <td>{{user.roleName}}</td>
                              
                            </tr>
                        </tbody>
                    </table>
  
                    <div class="d-flex justify-content-between p-2">
                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
                        </ngb-pagination>
                        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                            <option [ngValue]="12">12 items per page</option>
                            <option [ngValue]="24">24 items per page</option>
                            <option [ngValue]="36">36 items per page</option>
                            <option [ngValue]="50">50 items per page</option>
                            <option [ngValue]="100">100 items per page</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
 