<div class="container p-3 my-3 border">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">{{title}}</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)="addConge()">
          <div class="card-body">
            <div class="form-group">
                <label for="date_debut" class="form-label">Date de début</label>
                <input id="date_debut" class="form-control" type="date" name="date_debut" [(ngModel)]="bodyData.date_debut">
            </div>
            <div class="form-group">
                <label for="date_fin" class="form-label">Date de fin</label>
                <input id="date_fin" class="form-control" type="date" name="date_fin" [(ngModel)]="bodyData.date_fin">
            </div>
            
            <div class="form-group">
                <label for="cause" class="form-label">Cause</label>
                <select id="cause" class="form-select" name="cause" [(ngModel)]="bodyData.cause">
                    <option value="Maladie">Maladie</option>
                    <option value="Accident">Accident</option>
                    <option value="Autre">Autre</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="employeeId" class="form-label">Identifiant de l'employé</label>
                <select  id="employeeid"  name="employeeid" class="form-select" [(ngModel)]="employeeid">
                    <option *ngFor="let item of users" value="{{item.employeeid}}" >{{item.employeename}}</option>                
                </select>
            </div>
            <div class="form-group">
                <label for="typeCongeId" class="form-label">Identifiant du type de congé</label>
                <input id="typeCongeId" class="form-control" type="text" name="typeCongeId" [(ngModel)]="bodyData.typeCongeId">
            </div>
          </div>
          <!-- /.card-body -->
  
          <div class="card-footer">
            <button type="submit" class="btn btn-primary btnSpaceIcon">Sauvegarder</button>
            <!-- <button type="reset" class="btn btn-danger btnSpaceIcon">Annuler</button> -->
            <button type="button" routerLink='/user' class="btn btn-success">Retour</button>
          </div>
        </form>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
  
    </div>
  </div>